$header-height: unit(20);

@mixin AppHeader {
  .app-header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: $header-height;
    border-bottom: 1px solid $text-color;

    + div {
      height: $header-height;
    }
  }
}
